/* Контейнер */
.container {
	display: flex;
	height: 100vh;
}

/* Боковое меню */
.leftSidebar {
	display: flex;
	width: 100px;
	background-color: #d9d9d9;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
}

.menuItem {
	margin: 20px 0;
}

.menuItem img {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.profilePic {
	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	margin-bottom: 10px;
}

hr {
	width: 80%;
	border: 1px solid #666;
	margin-bottom: 20px;
}

.scheduleContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 90px 90px 70px 90px;
	background-color: #9d9d9d;
	border-radius: 20px;
	padding: 20px;
	position: relative;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: start;
	margin-top: -70px;
}

.dayHeader {
	text-align: center;
	width: 300px;
	font-size: 18px;
	color: #808080;
	background-color: #d9d9d9;
	padding: 10px 20px;
	border-radius: 8px;
}

.schedule {
	display: flex;
	width: 98%;
	gap: 72px;
	position: absolute;
}

.week {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.week:last-child {
	margin-bottom: 40px;
}

.lesson {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 60px;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	position: relative;
}

.lessonTime {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5;
	text-align: right;
}

.lessonName {
	color: #ff8000;
}

.lessonInfo {
	margin: 0;
}

@media (max-width: 2040px) {
	.lessonInfo {
		font-size: 12px;
		line-height: 16px;
	}
}

@media (max-width: 1920px) {

	.dayHeader,
	.week {
		flex: 1 1 22%; /* 4 колонки по 22% */
	}

	.lessonInfo {
		font-size: 12px;
		line-height: 16px;
	}
	.dayHeader {
		margin: 0 10px;
	}
}

@media (max-width: 1200px) {
	.dayHeader,
	.week {
			flex: 1 1 48%; /* 2 колонки */
	}
}

@media (max-width: 768px) {
	.dayHeader,
	.week {
			flex: 1 1 100%; /* 1 колонка */
	}
}